numpy==1.18.0
pandas==0.25.3
Django==3.1.7
matplotlib==3.1.2
opencv-python-headless
Keras==2.4.3
scipy==1.4.1
djangorestframework==3.12.2
Pillow==8.1.2
scikit_learn==0.24.1
whitenoise
gunicorn
django-heroku
pyGithub
